{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=atlas_balance;Username=atlas_balance_app;Password=CAMBIAR_PASSWORD_APP_AQUI",
    "MigrationConnection": "Host=localhost;Port=5432;Database=atlas_balance;Username=atlas_balance_owner;Password=CAMBIAR_PASSWORD_OWNER_AQUI"
  },
  "JwtSettings": {
    "Secret": "GENERAR-CLAVE-SECRETA-MINIMO-32-CARACTERES-AQUI",
    "AccessTokenExpMinutes": 60,
    "RefreshTokenExpDays": 7
  },
  "SeedAdmin": {
    "Email": "admin@atlasbalance.local",
    "Password": "CAMBIAR_PASSWORD_ADMIN_INICIAL_AQUI"
  },
  "Security": {
    "RequireMfaForWebUsers": true
  },
  "ForwardedHeaders": {
    "KnownProxies": [],
    "KnownNetworks": []
  },
  "Ia": {
    "UseSystemProxy": false,
    "ProxyUrl": ""
  },
  "WatchdogSettings": {
    "BaseUrl": "http://localhost:5001",
    "SharedSecret": "GENERAR-SHARED-SECRET-MINIMO-32-CARACTERES-AQUI",
    "PostgresBinPath": "C:\\Program Files\\PostgreSQL\\16\\bin",
    "StateFilePath": "C:\\AtlasBalance\\watchdog-state.json",
    "DockerPostgresContainer": "atlas_balance_db",
    "DockerCliPath": "C:\\Program Files\\Docker\\Docker\\resources\\bin\\docker.exe",
    "UpdateSourceRoot": "C:\\AtlasBalance\\updates",
    "UpdateInstallPath": "C:\\AtlasBalance",
    "UpdateTargetPath": "C:\\AtlasBalance\\api"
  },
  "GitHubSettings": {
    "UpdateToken": "PEGAR_TOKEN_FINE_GRAINED_READ_ONLY_O_USAR_VARIABLE_GITHUB_UPDATE_TOKEN"
  },
  "UpdateSecurity": {
    "ReleaseSigningPublicKeyPem": "-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvnPPH5nmqhYfCxeazYo2\nUl59S/+nUWPz6/uAFORGFrayrCgt4vfZE8lVUES/Z7aJni9Uc0cXMREVNApOchim\nFWc9t2E/7lXwMRvmTfkcKGDCxPaTcy8zHg2rt3cFME+JuojShU868DddmhnWMRzd\nzRtgKaWdS2URKXKIyUz6mfYHnGbEaBGnFCCsVCPryPL2fRbsNUT0yAj5pI9xWedR\nnzEk6AXG7FIKPWNprmS+JxWvQMgj7JTQ5dGZIm/eEvGT53J5weYO3a6OHZE8vl9k\nMpR2uLbmK1mDoTRHlRp0eBMfYrZVpnfvmUTMOB4g1gDA+a0zchWUitiyc47Tx5ad\nqEzsmrHe+iAROECSIOjQkTJow9cevU6yM+SBK+jtEw2Ns3/vmGe/FG7BsO/BUozX\nQzmkUVfdmbSRROhJ13JKfnjEHQGv8VTXo7DTlcOlFUcZokXkffhb0VS2DaOFjdX+\nWJrj0IeqT24J1CLucny3E8c76kzsn1dx4ybSUHcrW9ta95U6WIaKc80FwNk0TqeC\n65Ok59XOv3wdrLBcadTakihYLvshclECEJSxHv7f+b3Z7rUUHt2BeKZiTjIe6UWk\npN4BVT5MX0SezTg/VU20SHxJYmWVIe4i1tVugahlNjkLfudexE4rCwngP/pbLH4J\nat7bxvLDo5k3O5J1Sej7rnkCAwEAAQ==\n-----END PUBLIC KEY-----"
  },
  "DataProtection": {
    "KeysPath": "C:\\ProgramData\\AtlasBalance\\keys"
  },
  "Kestrel": {
    "Endpoints": {
      "Https": {
        "Url": "https://0.0.0.0:443",
        "Certificate": {
          "Path": "C:/AtlasBalance/certs/atlas-balance.pfx",
          "Password": "CAMBIAR_PASSWORD_CERTIFICADO_AQUI"
        }
      }
    }
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.EntityFrameworkCore": "Warning",
        "Hangfire": "Warning"
      }
    }
  },
  "AllowedHosts": "CAMBIAR_HOST_PUBLICO_AQUI"
}
