{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=atlas_balance;Username=atlas_balance_app;Password=CAMBIAR_PASSWORD_APP_AQUI",
    "MigrationConnection": "Host=localhost;Port=5432;Database=atlas_balance;Username=atlas_balance_owner;Password=CAMBIAR_PASSWORD_OWNER_AQUI"
  },
  "JwtSettings": {
    "Secret": "GENERAR-CLAVE-SECRETA-MINIMO-32-CARACTERES-AQUI",
    "AccessTokenExpMinutes": 60,
    "RefreshTokenExpDays": 7
  },
  "SeedAdmin": {
    "Email": "admin@atlasbalance.local",
    "Password": "CAMBIAR_PASSWORD_ADMIN_INICIAL_AQUI"
  },
  "Security": {
    "RequireMfaForWebUsers": true
  },
  "Ia": {
    "UseSystemProxy": false,
    "ProxyUrl": ""
  },
  "WatchdogSettings": {
    "BaseUrl": "http://localhost:5001",
    "SharedSecret": "GENERAR-SHARED-SECRET-MINIMO-32-CARACTERES-AQUI",
    "PostgresBinPath": "C:\\Program Files\\PostgreSQL\\16\\bin",
    "StateFilePath": "C:\\AtlasBalance\\watchdog-state.json",
    "DockerPostgresContainer": "atlas_balance_db",
    "UpdateSourceRoot": "C:\\AtlasBalance\\updates",
    "UpdateTargetPath": "C:\\AtlasBalance\\api"
  },
  "GitHubSettings": {
    "UpdateToken": "PEGAR_TOKEN_FINE_GRAINED_READ_ONLY_O_USAR_VARIABLE_GITHUB_UPDATE_TOKEN"
  },
  "UpdateSecurity": {
    "ReleaseSigningPublicKeyPem": "-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA9E9flwTTxIneRB/uMEQM\ngd6m5b7Gt2Tg30Cb8SjPmMrQvmYch6gSuJB5dBZxPsXnGFKuXC2r7O5MH2R5/l7c\neOzvlTJPghRJrYooXELc9VuX6v5/2OelLyPvEwGx0eUdRSRp/WY0mPfwIyCQx1Ll\nAg9jsjqcj91d4ED35x0rnaCeyR8ZJZPZ80G3FyUcfkhsOUrALkbSggON02CgGRpq\nmD+VYimKqY4mzSQwDaCPOZPArUAL0Hih8rioWC8KPj+TgkFgLfAQOb3TCN1J30l1\nqUhSolrOKvR2g4UjA+J3LSX22TijHuiuuzu9Am+14lB7KkoUZApWO1hehNIUNpDa\n7Md0TZMunUFYYj440nN3i5bLkJ1qkNUxBBdApZPI06WtjM0fmzYGxcPzHU3NLy5/\nAz2vrpnYvOQ6zoiSK5u3SolelDW6dUBFex8C3/dtWi1mxnk1hqqCmF87dVHojMDV\nhPMSHwzb7DfEoaIMyxdBzNh4AWFjD6rpllZVekx7y77DqqwN5ZDGUkqncjP5hLtL\nUD13AQXqYo4RoVsS3qCqHTkT9vB2sRTyge5Eq+lSkTMIWlwSXteX7O3PPFz7FcVq\nIZu6ACHA6FKa7wcOLn6zV0UVLimyfL+MxGDOcHjnOmKRxNbGqNn/SlDalQmuq0gC\nNBu8fmjyq6XK4y/4Feh5OjUCAwEAAQ==\n-----END PUBLIC KEY-----"
  },
  "DataProtection": {
    "KeysPath": "C:\\ProgramData\\AtlasBalance\\keys"
  },
  "Kestrel": {
    "Endpoints": {
      "Https": {
        "Url": "https://0.0.0.0:443",
        "Certificate": {
          "Path": "C:/AtlasBalance/certs/atlas-balance.pfx",
          "Password": "CAMBIAR_PASSWORD_CERTIFICADO_AQUI"
        }
      }
    }
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.EntityFrameworkCore": "Warning",
        "Hangfire": "Warning"
      }
    }
  },
  "AllowedHosts": "CAMBIAR_HOST_PUBLICO_AQUI"
}
